{% extends "base.html" %} 
{% block titulo %} Bank - Cuentas {% endblock %} 
{%block contenido_principal %}
<div id="info_cuenta" class="col-xs-12">
    <p>IBAN: <span id="info_cuenta_iban">{{ cuenta.iban }}</span></p>
    <p>Usuarios: <span id="info_cuenta_usuarios">{{ cuenta.usuarios }}</span></p>
    <p>Saldo actual: <span id="info_cuenta_saldo">{{ cuenta.saldo }}</span></p>
    {% if cuenta.principal %}
    	<form method="post" action='/cuenta/principal/{{cuenta.iban}}'><button id="favorite_account" class="glyphicon glyphicon-star btn btn-lg" type="submit" disabled></button><span> Cuenta predeterminada</span></form>
    {% endif%}
    {% if cuenta.principal==false %}
    	<form method="post" action='/cuenta/principal/{{cuenta.iban}}'><button id="favorite_account" class="glyphicon glyphicon-star-empty btn btn-lg" type="submit"></button><span> Marcar como predeterminada</span></form>
   	{% endif%}
    <div id="info_cuenta_options">
        <button id="share_account" class="btn btn-default" onclick="compartirCuenta()"> COMPARTIR CUENTA</button>
        <button id="transferencia_button" class="btn btn-default" onclick="hacerTransferencia()">TRANSFERENCIA</button>
    </div>
</div>
<div id="busqueda_movimientos" class="col-xs-12">
<form method="get" action="/cuenta/movimientos" >
		<div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
				<input type="text" class="search-query form-control"
					placeholder="Nombre del movimiento" name="movimientoBusqueda"/>
					<input type="date" class="search-query form-control"
					placeholder="Fecha del movimiento" name="fechaMovimiento"/>
				    <span class="input-group-btn">
					<button class="btn" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
		</div>
</form>
</div>
<table class="table table-hover">
    <tr>
        <th >Fecha</th>
        <th>Concepto</th>
        <th>Cantidad</th>
    </tr>
    {% for movimiento in cuenta.movimientos %}
    <tr>
        <td>{{ movimiento.fecha }}</td>
        <td>{{ movimiento.concepto }}</td>
        <td>{{ movimiento.cantidad }}</td>
    </tr>
    {%endfor%}
</table>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Transferencia</h4>
        </div>
        <div class="modal-body">
        <form method="post" action='/cuenta/transferencia/{{cuenta.iban}}'>
          <label for="concepto">Concepto</label>
          <input id="concepto" type="text" name="concepto" placeholder="Concepto"/>
          <label for="cantidad">Cantidad</label>
          <input id="cantidad" type="number" name="cantidad" placeholder="Cantidad"/>
          <button class="btn" type="submit">REALIZAR TRANSFERENCIA</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="noHacerTransferencia()">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModalCompartir" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Transferencia</h4>
        </div>
        <div class="modal-body">
        <form method="post" action='/cuenta/transferencia/{{cuenta.iban}}'>
          <label for="concepto">Concepto</label>
          <input id="concepto" type="text" name="concepto" placeholder="Concepto"/>
          <label for="cantidad">Cantidad</label>
          <input id="cantidad" type="number" name="cantidad" placeholder="Cantidad"/>
          <button class="btn" type="submit">REALIZAR TRANSFERENCIA</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}