{% extends "base.html" %} 
{% block titulo %} Bank - Detalle de cuenta {% endblock %} 
{%block contenido_principal %}
<div id="info_cuenta" class="col-xs-12">
    <p>IBAN: <span id="info_cuenta_iban">{{ cuenta.iban }}</span></p>
    <p>Saldo actual: <span id="info_cuenta_saldo">{{ cuenta.saldo }}</span></p>
    {% if cuenta.principal %}
    	<form method="post" action='/cuenta/principal/{{cuenta.iban}}'><button id="favorite_account" class="glyphicon glyphicon-star btn btn-lg" type="submit" disabled></button><span> Cuenta predeterminada</span></form>
    {% endif%}
    {% if cuenta.principal==false %}
    	<form method="post" action='/cuenta/principal/{{cuenta.iban}}'><button id="favorite_account" class="glyphicon glyphicon-star-empty btn btn-lg" type="submit"></button><span> Marcar como predeterminada</span></form>
   	{% endif%}
    <div id="info_cuenta_options">
        <button id="share_account" class="btn btn-default" onclick="mostrarCompartirCuenta()"> COMPARTIR CUENTA</button>
        <button id="transferencia_button" class="btn btn-default" onclick="hacerTransferencia()">TRANSFERENCIA</button>
    </div>
</div>
<div id="busqueda_movimientos" class="col-xs-12">
<form method="get" action="/cuenta/{{ cuenta.iban }}" >
		<div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
				<input type="text" class="search-query form-control"
					placeholder="Concepto" name="movimientoBusqueda"/>
					<input type="date" class="search-query form-control"
					placeholder="Fecha" name="fechaMovimiento"/>
				    <span class="input-group-btn">
					<button class="btn" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
		</div>
</form>
</div>
<table class="table table-hover">
    <tr>
        <th >Fecha</th>
        <th>Concepto</th>
        <th>Cantidad</th>
    </tr>
    {% for movimiento in cuenta.movimientos %}
    <tr>
        <td>{{ movimiento.fecha }}</td>
        <td>{{ movimiento.concepto }}</td>
        <td>{{ movimiento.cantidad }} €.</td>
    </tr>
    {%endfor%}
</table>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="col-xs-7 modal-contenido">
      <!-- Modal content-->
      <div class="modal-content col-xs-12">
        <div class="modal-header col-xs-12">
          <button type="button" class="close" data-dismiss="modal" onclick="noHacerTransferencia()">&times;</button>
          <h4 class="modal-title">Transferencia</h4>
        </div>
        <div class="modal-body col-xs-12">
        <form method="post" action='/cuenta/transferencia/{{cuenta.iban}}'>
        	<div class="form-group">
	          <label for="concepto">Concepto</label>
	          <input id="concepto" type="text" name="concepto" placeholder="Concepto"/>
          </div>
          <div class="form-group">
	          <label for="cantidad">Cantidad</label>
	          <input id="cantidad" type="number" name="cantidad" placeholder="Cantidad"/>
          </div>
          <button class="button-click btn btn-derecha" type="submit">REALIZAR TRANSFERENCIA</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModalCompartir" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="noCompartirCuenta()">&times;</button>
          <h4 class="modal-title">Compartir</h4>
        </div>
        <div class="modal-body">
        <form method="post" action='/cuenta/compartir/{{cuenta.iban}}'>
          <label for="usuarioCompartir">Usuario al cual compartir la cuenta:</label>
          <input id="usuarioCompartir" type="text" name="usuarioCompartir" placeholder="Username"/>
          <button class="button-clickbtn" type="submit">COMPARTIR</button>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}