{% extends "base.html" %} 
{% block titulo %} Bank - Cuentas {% endblock %} 
{%block contenido_principal %}
<div id="info_cuenta" class="col-xs-12">
    <p>IBAN: <span id="info_cuenta_iban">{{ cuenta.iban }}</span></p>
    <p>Usuarios: <span id="info_cuenta_usuarios">{{ cuenta.usuarios }}</span></p>
    <p>Saldo actual: <span id="info_cuenta_saldo">{{ cuenta.saldo }}</span></p>
    <button id="favorite_account" class="glyphicon glyphicon-star-empty btn btn-lg" method="get" action='/cuenta/principal:{{ cuenta.iban }}'></button><span> Marcar como predeterminada</span>
    <div id="info_cuenta_options">
        <button id="share_account" class="btn btn-default" method="get" action='/cuenta/compartir:{{ cuenta.iban }}'> COMPARTIR CUENTA</button>
        <button id="transferencia_button" class="btn btn-default" onclick="hacerTranferencia()">TRANSFERENCIA</button>
    </div>
</div>
<table class="table table-hover">
    <tr>
        <th >Fecha</th>
        <th>Concepto</th>
        <th>Cantidad</th>
    </tr>
    {% for movimiento in cuenta.movimientos %}
    <tr>
        <td>{%movimiento.fecha%}</td>
        <td>{%movimiento.concepto%}</td>
        <td>{%movimiento.cantidad%}</td>
    </tr>
    {%endfor%}
</table>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Transferencia</h4>
        </div>
        <div class="modal-body">
          <label for="concepto">Concepto</label>
          <input id="concepto" type="text" name="concepto" placeholder="Concepto"/>
          <label for="cantidad">Cantidad</label>
          <input id="cantidad" type="number" name="cantidad" placeholder="Cantidad"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" method="put" action='/cuenta/transferencia/{{cuenta.iban}}'>Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}