{% extends "base.html" %} 
{% block titulo %} Bank - Cuentas {% endblock %} 
{%block contenido_principal %}
<table class="table table-hover">
    {% for cuenta in cuentas %}
    <tr>
    	
        <td>{{ cuenta.iban }}</td>
        <td>{{ cuenta.usuarios }}</td>
        {% if cuenta.principal %}
        <td><span class="glyphicon glyphicon-star estrella"></span></td>
        {% endif %}
        {% if cuenta.principal==false %}
        <td><span class="glyphicon glyphicon-star-empty estrella"></span></td>
        {% endif %}
        <td><form  method="get" action='/cuenta/{{cuenta.iban}}'><button type="submit" class="btn">Detalle</button></form></td>
    </tr>
    {%endfor%}
</table>
{% endblock %}