{% extends "base.html" %} 
{% block titulo %} Bank - P&#225;gina principal {%endblock %} 
{%block contenido_principal %}
<div id="div_crear_cuenta" class="col-xs-12">
	<button class="btn btn-default btn-lg"
		onclick="$('#form_crear_cuenta').show()">Crear cuenta</button>
	<form id="form_crear_cuenta" method="post" action="/cuenta/crear">
		<div class="form-group">
			<label>Saldo</label> <input name="saldo" type="text" class="form-control"
				placeholder="Saldo" />
			<button class="btn btn-default btn-lg" type="submit">Crear</button>
		</div>
	</form>
</div>
<div id="div_anadir_tarjeta" class="col-xs-12">
	<button class="btn btn-default btn-lg"
		onclick="$('#form_anadir_tarjeta').show()">A&#241;adir tarjeta</button>
	<form id="form_anadir_tarjeta" method="post" action="/tarjetas/crear">
		<div class="form-group">
			<label>N&#250;mero</label> <input type="text" class="form-control"
				placeholder="N&#250;mero de tarjeta" name="numero"/> 
			<label>IBAN</label> 
			<select name="iban">
			{% for cuenta in cuentas %}
			<option>{{ cuenta.iban }}</option>
			{%endfor%}
			</select>
			<button class="btn btn-default btn-lg" type="submit">A&#241;adir</button>
		</div>
	</form>
</div>
{% endblock %}
