{% extends "base.html" %} 
{% block titulo %} Bank - P&#225;gina de inicio {% endblock%} 
{%block contenido_principal %}
<main class="col-xs-12">
<div id="img_home" class="col-xs-12">
	<img src="/img/home-girl2.JPG" alt="Imagen principal"
		class="img-responsive" />
</div>
</main>
<div class="box-white">
	<div class="text-top">
		<div class="num-riesgo">
			<span>1<span class="mini">/</span><strong>6</strong></span>
		</div>
		<div class="text-riesgo despliega">
			<p>Este n&#250;mero es indicativo del riesgo del producto, siendo 1/6
				indicativo de menor riesgo y 6/6 de mayor riesgo</p>
		</div>
	</div>
	<div class="text-bottom">
		<p>El Banco est&#225; adscrito al Fondo de Garant&#237;a de Dep&#243;sitos de
			Entidades de Cr&#233;dito (RD-ley 16/2011, de 14 de octubre). Para
			dep&#243;sitos en dinero, el importe m&#225;ximo garantizado es de 100.000&#128; por
			depositante en cada entidad de cr&#233;dito.</p>
	</div>
</div>
{% endblock %}
