{% extends "base.html" %} 
{% block titulo %} Bank - Tarjetas {% endblock%} 
{%block contenido_principal %}
<main class="col-xs-12">
<div id="img_home" class="col-xs-12">
	<img src="/img/home-girl2.JPG" alt="Imagen principal"
		class="img-responsive" />
</div>
</main>
<div class="box-white">
	<div class="text-top">
		<div class="num-riesgo">
			<span>1<span class="mini">/</span><strong>6</strong></span>
		</div>
		<div class="text-riesgo despliega">
			<p>Este número es indicativo del riesgo del producto, siendo 1/6
				indicativo de menor riesgo y 6/6 de mayor riesgo</p>
		</div>
	</div>
	<div class="text-bottom">
		<p>El Banco está adscrito al Fondo de Garantía de Depósitos de
			Entidades de Crédito (RD-ley 16/2011, de 14 de octubre). Para
			depósitos en dinero, el importe máximo garantizado es de 100.000€ por
			despositante en cada entidad de crédito.</p>
	</div>
</div>
{% endblock %}
