{% extends "base.html" %} {% block titulo %} Bank - Quienes somos
{%endblock %} {%block contenido_principal %}
<main class="col-xs-12">
<h1>Quienes somos</h1>
<div id="accordion">
	<h3>DPIU CAPITAL ES EL FONDO DE CAPITAL PRIVADO L&#205;DER EN ESPA&#209;A EN
		INVERSIONES EN SITUACIONES ESPECIALES CON M&#193;S DE 1200 MILLONES DE
		EUROS BAJO GESTI&#211;N.</h3>
	<div class="texto_quienes">
		<p>DPIU CAPITAL es el fondo de capital privado l&#237;der en
			inversiones en medianas empresas en Espa&#241;a que atraviesan situaciones
			especiales, de especial complejidad y/o que requieren procesos de
			transformaci&#243;n. En este sentido, t&#237;picamente invierte tanto en el
			capital como en la deuda de empresas que cuentan con un buen
			posicionamiento estrat&#233;gico pero que se enfrentan a importantes
			desaf&#237;os estrat&#233;gicos, operativos, financieros o accionariales.</p>
		<p>La tesis de inversi&#243;n caracteriza a DPIU CAPITAL como un socio
			activo y comprometido que contribuye con una visi&#243;n de largo plazo,
			el capital necesario, un equipo propio con talento y una dilatada
			experiencia para crear valor y asegurar la competitividad de las
			empresas donde invierte.</p>
		<p>DPIU CAPITAL est&#225; respaldada por importantes inversores
			institucionales internacionales y por empresarios de &#233;xito en sus
			respectivos sectores. Junto a ello, los propios gestores de DPIU
			CAPITAL mantienen igualmente un importante compromiso como inversores
			en el fondo</p>
		<p>DPIU CAPITAL est&#225; registrada en la CNMV como Sociedad Gestora
			de Entidades de Inversi&#243;n de Tipo Cerrado.</p>
	</div>

	<h3>DPIU CAPITAL AL CONSTITUYE LA FIRMA M&#193;S ACTIVA EN INVERSIONES
		EN SITUACIONES ESPECIALES DE TAMA&#209;O MEDIO</h3>
	<div class="texto_quienes">
		<p>DPIU CAPITAL ha realizado 129 inversiones en los &#250;ltimos cuatro
			a&#241;os posicion&#225;ndose como la firma l&#237;der en situaciones especiales de
			tama&#241;o medio en Espa&#241;a.</p>
		<p>DPIU CAPITAL cuenta con el equipo m&#225;s experimentado en Espa&#241;a
			para invertir en situaciones especiales</p>
		<p>DPIU CAPITAL goza de claras ventajas competitivas en el cierre
			de la transacci&#243;n dada su capacidad para cerrar operaciones de manera
			r&#225;pida (en 30 d&#237;as), y su flexibilidad en la estructura de la
			operaci&#243;n (participaciones, precios, deuda, etc.) y las garant&#237;as
			aportadas por los vendedores.</p>
		<p>Importantes grupos financieros e industriales han confiado en
			SHERPA DPIU CAPITAL para desinversiones de parte de sus activos</p>
		<p>Una &#250;nica labor: la gesti&#243;n de activos financieros DPIU CAPITAL
			opta por gestionar una gama limitada de estrategias para lograr una
			mayor revalorizaci&#243;n del capital de sus clientes a lo largo del
			tiempo.</p>
		<p>En cuanto a nuestro m&#233;todo, preferimos una gesti&#243;n realista
			basada en nuestras destrezas.</p>
		<p>Los productos insignia de la casa, DPIU CAPITAL Investissement,
			DPIU CAPITAL Patrimoine y DPIU CAPITAL Securit&#233;, se lanzaron en 1989,
			con una marcada orientaci&#243;n internacional y hacia los pa&#237;ses
			emergentes. Desde entonces, estos dos Fondos no han dejado de
			demostrar su resistencia a largo plazo, especialmente en periodos muy
			bajistas. Esa solidez corrobora la capacidad de DPIU CAPITAL para
			compaginar rentabilidad y gesti&#243;n de riesgos</p>
		<p>NUESTRO EQUIPO EST&#193; FORMADO POR DESTACADOS EJECUTIVOS
			PROCEDENTES DE FIRMAS DE CONSULTOR&#205;A, PUESTOS DIRECTIVOS, CAPITAL
			RIESGO Y BANCA DE INVERSI&#211;N, TODOS ELLOS CON UNA DILATADA EXPERIENCIA
			EN EL SECTOR DE LA REESTRUCTURACI&#211;N EMPRESARIAL</p>
		<p>ADEM&#193;S, NOS ASOCIAMOS CON EQUIPOS GESTORES EN LA EJECUCI&#211;N DE
			LOS PLANES DE VIABILIDAD Y DE REESTRUCTURACI&#211;N DE LAS COMPA&#209;&#205;AS
			OBJETIVO.</p>
	</div>

	<h3>EL OBJETIVO</h3>
	<div class="texto_quienes">
		<p>Inversiones en empresas en situaciones especiales que se
			enfrentan a importantes retos estrat&#233;gicos, operativos o financieros
			pero que cuenta con ventajas competitivas sostenibles y con
			posiciones relevantes en sus mercados.</p>
		<p>Facturaci&#243;n entre &euro; 20M y 300M si bien no se descartan
			operaciones de mayor tama&#241;o en coinversi&#243;n.</p>
		<p>Enfoque multi-sectorial excepto sector financiero e
			inmobiliario.</p>
		<p>Inter&#233;s especial por oportunidades de consolidaci&#243;n sectoriales
			(buy and build).</p>
		<p>Participaci&#243;n siempre con control de la gesti&#243;n (mayoritaria o
			minoritaria)</p>
	</div>
	<h3>METODOLOG&#205;A EXPERIENCIA Y CREACI&#211;N DE VALOR NUESTRA FILOSOF&#205;A
		SE BASA EN APORTAR NO SOLO CAPITAL SINO FUNDAMENTALMENTE GESTI&#211;N COMO
		PALANCA DE CREACI&#211;N DE VALOR EN LAS INVERSIONES:</h3>
	<div class="texto_quienes">
		<p>El &#233;xito sistem&#225;tico a lo largo de los a&#241;os, con rentabilidades
			muy por encima de la media de la industria, ha permitido a Sherpa
			Capital desarrollar una metodolog&#237;a para los procesos de
			transformaci&#243;n de compa&#241;&#237;as implementada con &#233;xito en m&#225;s de 150
			empresas. Los aspectos fundamentales en los que se sustenta son:</p>
		<p>Definici&#243;n y ejecuci&#243;n del Plan de 100 y 200 d&#237;as.</p>
		<p>Trabajo conjunto con el equipo directivo reforz&#225;ndolo y
			apoy&#225;ndolo cuando es necesario con nuestros propios ejecutivos de
			gesti&#243;n.</p>
		<p>Planes de crecimiento mediante internacionalizaci&#243;n.</p>
		<p>Planes de adquisiciones para consolidar el sector.
			Habitualmente todas nuestras participadas adquieren al menos otra
			compa&#241;&#237;a de su industria.</p>
		<p>Redefinici&#243;n financiera con especial &#233;nfasis en lo relacionado
			con la estructura financiera y liquidez.</p>
		<p>Plan estrat&#233;gico, reorientaci&#243;n estrat&#233;gica y operativa del
			negocio.</p>
	</div>
</div>
</main>
{% endblock %}
