
@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway');

#menu,footer{
    font-family:Dosis;
    background-color:steelblue;/*#a8845c;*/
    font-weight:bold;
}

#menu li > a{
    color: white;
    font-size:20px;
}

#menu li a:hover, #menu li > a:focus, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    color:black;
}

#footer{
    min-height: 20px;
    text-align:center;
    padding: 10px;
    color:white;
    margin-top:15px;
}

#info_cuenta{
    background-color: #dddddd;
    border-radius: 5px;
    font-family:Dosis;
    padding: 15px;
    text-transform: uppercase;
}

#favorite_account{
    background-color: #dddddd;
    padding: 10px 0;
}

#div_crear_cuenta, #div_anadir_tarjeta{
    padding: 15px;
}

#div_crear_cuenta > button, #div_anadir_tarjeta > button{
    width:100%;
}

#form_crear_cuenta ,#form_anadir_tarjeta{
     border:thin solid #ccc;
     padding:15px;
     margin:15px 0;
     background-color:#ccc;
     border-radius:5px;
     display:none;
}

.glyphicon-star-empty:before , .glyphicon-star:before {
    color: black;
}
#info_cuenta_options{
    text-align: center;
}

body > div{
    font-family:Dosis;
    text-align:justify;
    font-size:17px;
}

.box-white{
	position: absolute;
    top: 40vh;
    right: 0;
    width: 168px;
    border: 1px solid black;
    z-index: 1;
    background-color: white;
}

.num-riesgo{
	font-size:20px;
	margin-bottom:10px;
}

.text-top , .text-bottom{
    display: block;
    padding: 15px;
    width: 100%;
    font-size: 9px;
    color: #272627;
    line-height: 11px;
    border-bottom: 1px solid black;
    vertical-align: top;
}

#texto_home{
	float:left;
	position:absolute;
	z-index:1;
	top: 70px;
    right: 110px;
    font-size: 40px;
    font-family: Dosis;
    text-align: center;
    width: 300px; 
    color:steelblue;
}

/*Menu login dropdown*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*Fin menu login dropdown*/

@media(max-width:800px){
    .nav > li{
        text-align: center;
    }
}
